useDynLib(multivar, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(ggplot2)
import(Matrix)
import(methods)
importFrom(vars,VAR)
importFrom("grDevices", "colorRampPalette", "rgb")
importFrom("stats", "coef", "lm.fit", "median", "runif", "sd","setNames")
importFrom("utils", "read.table", "setTxtProgressBar","txtProgressBar")
importFrom("reshape2", "melt")
export(multivar_sim)
export(canonical.multivar)
export(plot_results)
export(plot_sim)
export(constructModel)
export(cv.multivar)
export(plot_transition_mat)
export(multivar_bdiag)
export(multivar_admm)
export(cv_blocked)
export(cv_rolling)
export(cv_admm)